<header class="header-dashboard">
  <div class="sidebar-toggle" onclick="toggleSidebar()">☰</div>
  <h1 class="logo-dashboard">Dashboard Professor</h1>
</header>

<nav class="sidebar-dashboard" id="sidebarDashboard">
  <button class="btn-fechar-sidebar" onclick="toggleSidebar()">✖</button>
  <ul>
    <li><a href="/">📚 Materiais ENAC</a></li>
    <li><a href="/upload">➕ Adicionar Material</a></li>
  </ul>
</nav>