<header>
    <div class="header-content">
        <!-- Botão de abrir o sidebar -->
        <button class="sidebar-toggle">&#9776;</button>

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <button class="close-sidebar">&times;</button>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/avisos">Avisos</a></li>
                <li class="dropdown">
                    <span class="dropdown-label">Cursos ▾</span>
                    <ul class="dropdown-menu">
                        <li><a href="/enac2025-2">ENAC 2025.2</a></li>
                    </ul>
                </li>
                <li><a href="/mentoria">Mentoria</a></li>

                   <nav class="nav-dropdown">
                    <ul class="dropdown-root">
                        <li class="dropdown">
                            <span class="dropdown-label">Ferramentas ▾</span>
                            <ul class="dropdown-menu">
                                <li><a href="/questions">Questões</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- MENU CASCATA PRODUTOS -->
                <nav class="nav-dropdown">
                    <ul class="dropdown-root">
                        <li class="dropdown">
                            <span class="dropdown-label">Produtos ▾</span>
                            <ul class="dropdown-menu">
                                <li><a href="/codigoComentado">Código Comentado</a></li>
                                <li><a href="/ebook">Ebook</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>

        <div class="header-left">
            <h1><a href="/">ANR</a></h1>
        </div>
    </div>
</header>
