<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conteúdos</title>
  <link rel="shortcut icon" href="/images/ANR LogoPequena.webp" type="image/x-icon">
  <link rel="stylesheet" href="/content.css">
</head>
<body>
  <div class="container">
  <% conteudos.forEach(conteudo => { %>
        <div class="card"  data-id="<%= conteudo.id_content %>">         
          <span><%= conteudo.name %></span>
        </div>
        
      <% }) %>

    <%- include('./partials/footer.ejs') %>
  </div>

  <script src="/scripts/content.js"></script>
</body>
</html>
