<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/ANR LogoPequena.webp" type="image/x-icon">
    <title>ANR - Academia Notarial e Registral</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/headerfooter.css">
</head>
<body>
    <%- include('./partials/headerNaoLogado.ejs') %>

    <main>
        <div class="container">
            <div class="card">
                <img src="/images/ANR Logo.png" alt="">
            </div>

            <div class="card">
                <h1>Academia Notarial e Registral</h1>
                <h1 class="h1azul">Aproveite nossos materiais gratuitos para o primeiro ENAC!</h1>
                <span>Um curso de Notários para futuros Notários!</span>
            </div>

            <div class="card">
                <h1>Estudos estratégicos</h1>
                <span>Uso de IA para gerar estatísticas de questões mais incidentes, assuntos mais cobrados em todas as provas já aplicadas e relatórios exclusivos.</span>
                <span class="spanContainer">Estude, conecte e revise suas matérias como nunca antes!</span>
            </div>

            <div class="card">
                <h1>Estude o que realmente importa</h1>
                <img src="/images/Prospecção ANR.png" alt="Imagem para atrair clientes">

                <h1>Faça anotações e grave diretamente na plataforma</h1>
                <img src="/images/ANR Anotação.png" alt="Imagem demonstrando funcionalidade de anotações do site">

                <h1>Acompanhe suas estatísticas e acesse informações de seu edital</h1>
                <img src="/images/ANR Desempenho.png" alt="Imagem demonstrando funcionalidade de desempenho do site">
            </div>

            <button class="btn-start">Comece Agora</button>
        </div>

    </main>

    <%- include('./partials/footer.ejs') %>

     <!-- SCRIPT -->
    <script src="/scripts/script.js"></script>
</body>
</html>
