<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias Objetivas</title>
    <link rel="stylesheet" href="../public/materias.css">
 
</head>
  
<body>
  <header>
    <h1>O que estudar hoje?</h1>
    <p>Explore os principais temas jurídicos e revise com inteligência.</p>
  </header>

<div class="section-title">Legislação Específica</div>
  <div class="container hidden">
    <div class="card"><span>Direito Notarial e Registral:</span> Teoria Geral</div>
    <div class="card"><span>Direito Notarial e Registral:</span> Tabelionato de Notas</div>
    <div class="card"><span>Direito Notarial e Registral:</span> Tabelionato de Protesto</div>
    <div class="card"><span>Direito Notarial e Registral:</span> Registro Civil de Pessoas Naturais</div>
    <div class="card"><span>Direito Notarial e Registral:</span> Registro de Imóveis</div>
  </div>

  <div class="section-title">Legislação</div>
  <div class="container hidden">
    <div class="card"><span>Legislação - Direito Administrativo</span></div>
    <div class="card"><span>Legislação - Direito Constitucional</span> <small>Em breve</small></div>
    <div class="card"><span>Legislação - Direito Tributário</span></div>
    <div class="card"><span>Legislação - Direito Civil</span></div>
    <div class="card"><span>Legislação - Direito Processual Civil</span></div>
    <div class="card"><span>Legislação - Direito Penal</span></div>
    <div class="card"><span>Legislação - Direito Processual Penal</span></div>
    <div class="card"><span>Legislação - Direito Empresarial</span></div>
  </div>

  <div class="section-title">Jurisprudência</div>
  <div class="container hidden">
    <div class="card"><span>Jurisprudência - Direito Administrativo</span><small>Em breve</small></div>
    <div class="card"><span>Jurisprudência - Direito Civil</span></div>
    <div class="card"><span>Jurisprudência - Direito Penal</span> <small>Em breve</small></div>
    <div class="card"><span>Jurisprudência - Direito Empresarial</span> <small>Em breve</small></div>
    <div class="card"><span>Jurisprudência - Direito Processual Civil</span> <small>Em breve</small></div>
    <div class="card"><span>Jurisprudência - Direito Processual Penal</span> <small>Em breve</small></div>
    <div class="card"><span>Jurisprudência - Direito Notarial e Registral</span></div>
    <div class="card"><span>Jurisprudência - Direito Tributário</span></div>
  </div>

  <%- include('./includes/footer.ejs') %>
  <script src="../"></script>
</body>

</html>