  body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #f8f9fc;
    }

    header {
      background-color: #20263a;
      color: white;
      text-align: center;
      padding: 2rem 1rem;
    }

    header h1 {
      font-size: 2rem;
    }

    header p {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: #bfc4d2;
    }

    .section-title {
      text-align: center;
      color: #5a2ca0;
      margin-top: 2rem;
      font-size: 1.4rem;
      font-weight: bold;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      max-width: 800px;
      margin: 0 auto;
    }

    .card {
        justify-content: start;
        display: flex;
        flex-direction: column;
        background-color: #d2f9ff;
        border-radius: 12px;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(90, 44, 160, 0.1);
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    .card:hover {
      transform: scale(1.02);
      background-color: #1316afb4;
    }

    .card span {
      font-weight: bold;
      color: #20263a;
    }

    small{
        color: rgba(0, 0, 0, 0.671);
    }

    .container{
      opacity: 0;
      transform: translateX(-50px);
      transition: all .6s ease;
    }

    .container.show{
      opacity: 1;
      transform: translateX(0);
    }
    .section-title{
      opacity: 0;
      transform: translateX(-50px);
      transition: all .6s ease;
    }

    .section-title.show{
      opacity: 1;
      transform: translateX(0);
    }

    .hidden{
      visibility: hidden;
    }
    /* FOOTER */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #222b30;
    color: white;
    font-size: 0.9rem;
    margin-top: 2rem;
}